<section class="section newrecette">
    <div class="row">
        <div class="col-xs-12">
            <p class="c">Vous en avez sous la toque ?!</p>
            <p class="b">
                <a href=@Url.Action("Create","Recettes") class="btn btn_color1"><span class="glyphicon glyphicon-plus-sign"></span><span>Créez une nouvelle recette</span></a>
            </p>
        </div>
    </div>
</section>
